<%- include("partials/header"); -%>
<h1><%=post.title%></h1>
<p><%=post.content%></p>
<hr>
<a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
<a class="btn btn-dark btn-lg" href="/compose" role="button">Compose a blog</a>


<%- include("partials/footer"); -%>
